.mainheader{
    position: relative;
    top: 0;
    width: 100%;
    background-image: linear-gradient( #e88504 , #ee9f27); /*#00FFFF */
    padding-top:20px;
    padding-bottom:20px ;
    text-align: center;
    color: black;

}
.header{
    text-align: center;
   
}
.dashboard{
    position: absolute;
    right: 0%;
    margin-right: 9px;

    
}